body {                    
  font-family: sans-serif;
}                         
                          
.app {                    
  background-color: white;
}                                                 
                          
.nav {                    
  background-color: red;  
  color: white;           
  padding: 0 20px;        
  font-size: 20px;        
}   

.nav .menubutton {
  background-color: inherit;
  -webkit-transition: all .2s ease-in;
          transition: all .2s ease-in;
}

.nav .menubutton:active,
.nav .menubutton.active {
  background-color: rgba(255,255,255,0.4);
  -webkit-transition: all 0s;
          transition: all 0s;
}

.menucontent {
  background-color: lightgrey;
  color: white;
}
